$laptop: 1200px;

.mainContainer {
    position: relative;
    top: 10vh;
    width: 100%;
    height: fit-content;
    header {
        width: 100%;
        text-align: center;
    }
    section {
        padding: 20px;
        min-height: 70vh;

        article {
            margin: 20px;
        }
    }
}